body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: rgb(41, 37, 37);
}
#cv{
    margin: 30px;
    width: 1000px;
    height: auto;
}
#first{
    margin:0;
    padding-top: 20px;
    box-sizing: border-box;
    background: whitesmoke;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}
#first .name{
    align-self: center;
}
#first .job{
    align-self: center;
}
#second{
    display: flex;
    width: 100%;
    height: auto;
    background: whitesmoke;
    
}
#second .left{
    margin:0;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}
#second .right{
    margin:0;
    padding-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid black;
}
#parag{
    margin: 0;
    padding-left: 20px;
    height: auto;
    width: 100%;
    background: whitesmoke;
    border-bottom: 1px solid black;
}
