html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
* a{
    text-decoration: none;
    color: white;
}
#container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
#sidebar-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background:rgb(75, 73, 73);
    width: 240px;
    height:100%;
}
#sidebar-container img{
    margin-top: 20px;
    width: 75%;
    height: auto;
    align-self: center;
}
#sidebar-container .side-bar{
    margin-left: 10px;
}
.name h5{
    color:wheat;
    font-weight: bolder;
    position: relative;
    left: 45px;
    top: 120px;
}
.side-bar a{
    color: white;
}
.side-bar a:hover{
    color: red;
}
#sidebar-container .svg-items{
    position: relative;
    top: 170px;
    color: white;
    margin-left: 20px;
}
#sidebar-container .svg-items .social-svg{
    margin-left: -30px;
    display: flex;
    justify-content: space-evenly;
}
#sidebar-container .svg-items .social-svg a:hover{
    color: grey;
    cursor: pointer;
}

#main{
    background-image:url(images/images.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    position: relative;
    border-bottom: 1px solid black;
}
#main img{
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 1;
    width: 250px;
    height: 75%;
    opacity: 0.2;
}
.main-name{
    color: white;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 260px;
   
}
#bio .cv{
    position: absolute;
    left: 220px;
    top: 290px;
    border: 2px solid red;
    color: white;
    background: red;
    border-radius: 5px;
}
#bio{
    width: 1145px;
    height: 330px;
    position: absolute;
    top: 300px;
    left: 204px;
    display: flex;
    margin: 10px;
}
#bio .pic{
    width: 200px;
    height: 200px;
}
#bio .pic .social-svg{
    background: red;
    width: 200px;
    height: auto;
    position: absolute;
    top: 272px;
    display: flex;
    justify-content: space-evenly;
}
#bio .pic .social-svg a:hover{
    opacity: 0.7;
    cursor: pointer;
}
#bio .pic img{
    width: 200px;
    height: auto;
    padding-top: 5px;
}
#bio .info{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    top: 60px;
    left:-120px;
    height: 250px;
}
#bio .info i{
    margin: 0;
    padding-left: 20px;
    height: 50px;
}
#bio .story{
    /* border: 1px solid black; */
    height: 100%;
    width: 440px;
    position: relative;
    left: -100px;
}
#bio .story pre{
    width: 550px;
    height: 100%;
    position: relative;
    left: -40px;
    font-size: 11px;
    font-family:bs-body;
    letter-spacing: 1px;
    line-height: 16px;
    opacity: 0.6;
}

#bio .story pre span{
    font-size: 16px;
    text-decoration:underline;
    color: red;
}






/* #main .popup{
    background: red;
    color: white;
    position: relative;
    left: 200px;
    top: 350px;
    border: 1px solid black;
    border-radius: 5px;
}
#main .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

#main .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  

#main .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} */